body {
    font-family: Arial, Helvetica, sans-serif;

    nav {
        position: fixed;
        background-color: rgb(22, 40, 78);
        color: white;

        height: 70px;
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        align-items: center;

        gap: 26px;

        a {
            text-decoration: none;
        }

        .james {
            margin-left: 100px;
            margin-right: 800px;
            font-size: 1.3rem;
        }

        .login {
            margin-left: 10px;
        }

        .devlink:hover {
            color: lightblue;
            transition-delay: 0.15s;
        }
    }

    header {
        display: flex;

        background-image: url('https://i.postimg.cc/QCLJLyKr/82fcd3-47a465bb9c6f4b52a0cc83f281806af8-mv2.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;

        height: 685px;
        width: 100%;

        .headertopic {
            background-color: white;
            height: 250px;
            width: 830px;

            display: flex;
            flex-direction: column;

            margin-top: auto;
            margin-left: 545px;

            align-items: center;
            justify-content: space-around;

            .developing {
                font-size: 1.3rem;
            }

            .achieving {
                font-size: 4rem;
            }

            button {
                background-color: white;
                color: rgb(22, 40, 78);
                border: solid 1px black;
                width: 230px;
                height: 50px;

                a {
                    text-decoration: none;
                    font-weight: 700;
                }
            }

            button:hover {
                transition-delay: 0.15s;
                background-color: rgb(50, 80, 145);
                color: white;
                cursor: pointer;
            }
        }
    }

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        height: 720px;
        width: 100%;

        justify-content: center;
        align-items: center;

        .maincontent {
            border: 1px solid lightgray;

            display: flex;
            flex-direction: column;

            height: 580px;
            width: 580px;

            justify-content: space-around;
            align-items: center;

            .firstword {
                font-size: 3rem;
            }

            .paragraph {
                margin-left: 122px;
                margin-right: 122px;

                text-align: center;
            }

            button {
                border: none;

                width: 180px;
                height: 50px;

                background-color: rgb(50, 80, 145);
                color: white;

                a {
                    font-weight: 700;
                    text-decoration: none;
                }
            }

            button:hover {
                border: 1px solid black;

                background-color: white;
                color: rgb(50, 80, 145);
                transition-delay: 0.15s;
                cursor: pointer;
            }
        }
    }
    
    section {
        display: flex;
        flex-direction: column;

        background-image: url('https://i.ibb.co/QP4h9Vn/82fcd3-96376843bac9407bb5b50891b78b6210-mv2.jpg');
        background-position: fixed;

        height: 685px;
        width: 100%;

        justify-content: space-around;
        align-items: center;

        .sectiondiv {
            background-color: rgba(202, 229, 248, 0.5);
            display: flex;
            flex-direction: column;

            height: 685px;

            justify-content: space-evenly;
            align-items: center;

            text-align: center;

            .firstword {
                font-size: 3rem;
            }

            .paragraph {
                margin-left: 620px;
                margin-right: 620px;
            }

            button {
                background-color: white;
                border: solid 1px black;
                width: 180px;
                height: 50px;

                a {
                    text-decoration: none;
                    font-weight: 700;
                }
            }

            button:hover {
                transition-delay: 0.15s;
                background-color: rgb(50, 80, 145);
                color: white;
                cursor: pointer;
            }
        }
    }
    
    article {
        height: 500px;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .clients {
            font-size: 3rem;
        }

        .klientai {
            font-size: 3rem;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            .logo {
                display: flex;
                justify-content: center;
                align-items: center;

                border: 1px solid lightgray;
                height: 200px;
                width: 430px;
            }
        }
    }
    
    aside {
        background-color: rgb(240, 235, 235);
        height: 500px;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        .firstword {
            font-size: 3rem;
            margin-bottom: 100px;
        }

        .sliderone {
           margin-top: 70px;
        }

        .slidertwo {
            margin-bottom: 100px;
        }

        .dots:hover {
            cursor: pointer;
        }
    }

    summary {
        background-color: rgb(64, 90, 148);
        color: white;

        height: 1000px;
        width: 100%;

        display: flex;
        flex-direction: column;

        flex-wrap: wrap;

        align-items: center;
        
        .firstword {
            font-size: 3rem;
            margin-top: 70px;
            margin-bottom: 70px;
        }

        .kontaktai {
            height: 400px;
            width: 920px;

            display: flex;
            flex-direction: column;

            align-items: center;
        
            .suvedimai1 {
                display: flex;
                flex-direction: row;
                gap: 20px;
                margin-bottom: 30px;
                
                .keturi {
                    width: 435px;
                
                    .pirmas {
                        border: 0;
                        border-bottom: 1px outset lightgray;
                        background-color: rgb(64, 90, 148);
                        width: 435px;
                    }

                    .raudonas {
                        border: 0;
                        border-bottom: 1px outset red;
                        background-color: rgb(64, 90, 148);
                        width: 435px;
                    }
                }
            }

            .suvedimai2 {
                display: flex;
                flex-direction: row;
                gap: 20px;
                margin-bottom: 30px;

                .keturi {
                    width: 435px;

                    .pirmas {
                        border: 0;
                        border-bottom: 1px outset lightgray;
                        background-color: rgb(64, 90, 148);
                        width: 435px;
                    }

                        .raudonas {
                        border: 0;
                        border-bottom: 1px outset red;
                        background-color: rgb(64, 90, 148);
                        width: 435px;
                    }
                }
            }

            .suvedimai3 {
                display: flex;
                flex-direction: row;
                gap: 20px;
                margin-top: 75px;

                .penki {
                    width: 695px;

                    .msg {
                        border: 0;
                        border-bottom: 1px outset red;
                        background-color: rgb(64, 90, 148);
                        width: 695px;
                    }
                }

                button {
                    background-color: white;
                    border: solid 1px black;
                    width: 180px;
                    height: 50px;
    
                    a {
                        text-decoration: none;
                        font-weight: 700;
                    }
                }
    
                button:hover {
                    transition-delay: 0.15s;
                    background-color: rgb(50, 80, 145);
                    color: white;
                    cursor: pointer;
                }
            }
        
            .image {
                margin-top: 170px;
            }   
        }
    }

    footer {
        background-color: rgb(22, 40, 78);
        color: white;

        height: 400px;
        width: 100%;

        display: flex;
        flex-direction: row;

        justify-content: space-around;

        .address {
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
            }

            .menu {
                margin-bottom: 10px;
            }

            .menu:hover {
                color: lightblue;
            }

            .firstword {
                font-size: 1.5rem;
                text-decoration: none;

                margin-top: 50px;
                margin-bottom: 20px;
            }

            .twitt {
                margin-bottom: 50px;
            }
        }
    }
}