body {
    font-family: Arial, Helvetica, sans-serif;

    nav {
        background-color: rgb(22, 40, 78);
        color: white;

        height: 70px;
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        align-items: center;

        gap: 26px;

        a {
            text-decoration: none;
        }

        .james {
            margin-left: 100px;
            margin-right: 800px;
            font-size: 1.3rem;
        }

        .login {
            margin-left: 10px;
        }

        .devlink:hover {
            color: lightblue;
            transition-delay: 0.15s;
        }
    }

    main {
        height: 1500px;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        .firstword {
            font-size: 3rem;
        }

        .pics {
            display: flex;
            flex-direction: column;

            .blokas {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
            
                .services {
                    display: flex;
                    flex-direction: column;
                }
            }
        
        }
    }

    footer {
        background-color: rgb(22, 40, 78);
        color: white;

        height: 400px;
        width: 100%;

        display: flex;
        flex-direction: row;

        justify-content: space-around;

        .address {
            display: flex;
            flex-direction: column;

            .firstword {
                font-size: 1.5rem;
                text-decoration: none;

                margin-top: 50px;
                margin-bottom: 20px;
            }

            .twitt {
                margin-bottom: 50px;
            }
        }
    }
}